# https://github.com/CoffeeITWorks/nagios_gurobi_machines_plugin
# {{ ansible_managed }}

define command{
    command_name  check_gurobi_machines
    command_line  /usr/local/bin/gurobi_machines_plugin --url '$ARG1$' --client_id '$ARG2$' --client_secret '$ARG3$' --outdated_minute $ARG4$  $ARG5$
}

# use gurobi_machines with proxy
define command{
    command_name  check_gurobi_machines_proxy
    command_line  https_proxy={{ nagios_plugins_https_proxy_env }} /usr/local/bin/gurobi_machines_plugin --url '$ARG1$' --client_id '$ARG2$' --client_secret '$ARG3$' --outdated_minute $ARG4$  $ARG5$
}
